<html>

<head>
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>


    {% block body %}{% endblock %}

    {% block views %}
        {% for name, content in views %}
            <script type="template" id="{{ name }}">
                {{ content }}
            </script>
        {% endfor %}
    {% endblock %}

    {% block scripts %}
        {% for src in scripts %}
            <script type="text/javascript" src="/{{ src }}"></script>
        {% endfor %}
        <script type="text/javascript">
            Application();
        </script>
    {% endblock %}

<fb:login-button 
  scope="public_profile,email,user_posts"
  onlogin="Facebook();">
</fb:login-button>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1843287222615452',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</body>

</html>