<html>

<head>
  <title>Dialog Tree</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100|Source+Sans+Pro:200|Dosis:200" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/main.css" />
</head>

<body>

    {% block body %}{% endblock %}

    <div id="header">
        <h1><a class="litany" href="#"><i>litany</i><span>.io</span></a> Dialog Tree</h1>
        <div id="tab-select">
            <a href="#intro">Integrate</a>
            <a href="#markov" class="active">Generate</a>
            <a href="#share">Share</a>
        </div>
    </div>
    <div id="tabs">
        <div id="tab-intro" class="tab">
            <div id="transcript-output">Transcript</div>
            <fb:login-button
              scope="public_profile,email,user_posts"
              onlogin="Facebook();">
            </fb:login-button>
        </div>
        <div id="tab-markov" class="tab active">Loading...</div>
    </div>
    <div id="ui-stuff">
    <div class="progress">
        <div id="progress-meter"></div>
        <div id="progress-text"></div>
        <div id="version">
          <span class="v">v{{ version }}</span>
          <span class="env">(<em>{{ environment }}</em>)</span>
        </div>
    </div>
    <div id="node-background">
        <div id="scroll-bg" class="container"></div>
        <div id="corpus-container" class="background-nodelist container"></div>
        <!-- Overflows are randomly appended with node values.
             It looks cool. -->
        <div id="overflow-container" class="background-nodelist container"></div>
        <div id="overflow-container2" class="background-nodelist container"></div>
        <div id="overflow-container3" class="background-nodelist container"></div>
        <div id="spin-ui"><div id="spinner"><!--ᕕ( ᐛ ) ᕗ--></div></div>
        <div id="record-ui"><div class="dot"></div></div>
    </div>
    </div>

    {% block views %}
        {% for name, content in views %}
            <script type="template" id="{{ name }}">
                {{ content }}
            </script>
        {% endfor %}
    {% endblock %}

    {% block scripts %}
        {% for src in scripts %}
            <script type="text/javascript" src="/assets/{{ src }}"></script>
        {% endfor %}
        <script type="text/javascript">
            Application();
        </script>
    {% endblock %}


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1843287222615452',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88415652-1', 'auto');
  ga('send', 'pageview');
</script>

</body>

</html>