body {
    font-family: sans-serif;
    background-color: #132228;
    color: #79d1f7;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#header {
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
    background: rgba(0, 0, 0, .9);
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    padding-left: 10px;
}

#header h1 {
    text-shadow: 1px 1px #000;
    color: #79d1f7;
    font-weight: 100;
    width: 260px;
    float: left;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Dosis';
    text-transform: lowercase;
}

#header h1 a.litany {
    font-family: 'Dosis';
    font-weight: 200;
    color: #fff;
    font-variant: none;
    position: absolute;
    right: 20px;
    text-decoration: none;
}

#header h1 a.litany i {
    transition: text-shadow 1s;
}

#header h1 a.litany span {
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s;
}

#header h1 a.litany:hover span {
    display:inline;
    opacity: .6;
    transition: opacity 2s;
}

#header h1 a.litany:hover i {
    text-shadow: 0 0 6px rgba(101, 289, 227, .4);
}

#tab-select {
    margin-top: 10px;
}
#tab-select a {
    padding-right: 20px;
    color: #79d1f7;
    text-decoration: none;
    opacity: .6;
    transition: opacity 1s;
}

#tab-select a:hover,#tab-select a.active {
    opacity: 1;
}

#tabs .tab {
    padding-top: 20px;
    padding-left: 20px;
    display:none;
}

#tabs .tab.active {
    display: block;
}


#markov-ui {
    display: flex;
    width: 100%;
    overflow: hidden;
}

#output,#transcript-output {
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
}

.node-list-container {
    height: 100%;
    width: 100%;
    overflow:hidden;
}

.word-node {
    background: rgba(101, 289, 227, .1);
}

.node-list {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, .05);
    box-shadow: inset 5px 5px 100px rgba(255, 255, 255, .02);
    list-style: none;
    margin-right: 20px;
    min-width: 150px;
    opacity:.7;
}

.node-list li {
    position: relative;
    text-align: center;
    max-width: 200px;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

#markov-ui div {
    opacity: .3;
    transform-origin: top center;
    transform: scale(.7);
    cursor:default;
}

#markov-ui div:last-child {
    opacity:1;
    transform: scale(1);
}

#markov-ui div:last-child li {
    cursor: pointer;
}

#markov-ui div:last-child ul:empty {
    border-top: 1px solid rgba(255, 0, 0, .6);
}

#markov-ui div:last-child ul:empty:after {
    content: "ERR: end of input";
    color: rgba(255, 0, 0, .5);
    height: 400px;
    cursor: pointer;
}

.node-list li .words {
    font-size: 150%;
    font-weight: 100;
}

.node-list li .prob {
    color: #ccc;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.node-list li.selected {
    color: #000;
    background-color: rgba(101, 289, 227, 1);
    opacity: 1;
}

#output {
    padding-bottom: 20px;
    color: #79d1f7;
    text-transform: uppercase;
}

#ui-stuff {
    box-shadow: inset 10px 10px 100px rgba(0, 0, 0, .5);
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    overflow:hidden;
}

.progress {
    width: 100%;
    background: rgba(255, 255, 255, .05);
    position: absolute;
    bottom: 25px;
}

#progress-meter {
    background: rgba(101, 289, 227, .6);
    width: 0;
    transition: width .5s;
    opacity: .3;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: -20px;
    box-shadow: 0 0 10px rgba(101, 289, 227, 1);
}

#progress-text {
    color: #79d1f7;
    font-family: monospace;
    position: absolute;
    right: 20px;
    opacity: .6;
}

#node-background {
    background: rgba(0, 0, 0, .4);
    margin: 0;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow:hidden;
}


body.loading #node-background {
    /*/animation: breathe 5s linear infinite;*/
}

@keyframes breathe {
    0% {
        background: rgba(0, 0, 0, .4);
    }
    30% {
        background: rgba(0, 0, 0, 1);
    }
    50% {
        background: rgba(0, 0, 0, .9);
    }
    80% {
        background: rgba(0, 0, 0, .4);
    }
    100% {
        background: rgba(0, 0, 0, .4);
    }
}

#node-background.green {
    background: green;
}

#node-background .container {
    height: 100%;
    padding: 0 5%;
    color: transparent;
    text-shadow: 0px 0px 2px rgb(121, 209, 247);
    font-weight: lighter;
    opacity: .3;
    vertical-align: text-bottom;
    position: absolute;
    overflow:hidden;
}

#node-background .background-nodelist {
}

#node-background #scroll-bg {
    left: 250px;
    transform: scale(.8);
    text-shadow: 0px 0px 3px rgba(101, 289, 227, .5);
}

#node-background #overflow-container {
    top: 6px;
    left: 200px;
    transform: scale(1);
    opacity: .5;
    text-shadow: 0px 0px 3px rgba(101, 289, 227, .6);
}

#node-background #overflow-container2 {
    right: 0;
    width: 50px;
    bottom: 150px;
    transform: scale(.9);
    opacity: .7;
    text-shadow: 0px 0px 1px rgba(101, 289, 227, .4);
}

#node-background #overflow-container3 {
    right: 200px;
    top: 50px;
    transform: scale(1);
    opacity: .6;
    text-shadow: 0px 0px 3px rgba(101, 289, 227, .5);
}
 
#node-background .container  p {
    width: 300px;
    text-align: left;
}

#node-background .container {
    text-align: center;
    text-transform: uppercase;
}

#record-ui {
    overflow:hidden;
    opacity:0;
    transition: opacity 1s;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 10;
}

body.recording #record-ui {
    opacity: 1;
}

#record-ui .dot {
    color: white;
    border: 1px solid rgba(255, 255, 255, .8);
    border-top: 1px solid rgba(255, 0, 0, .9);
    border-left: 1px solid rgba(255, 0, 0, .9);
    border-radius: 25px;
    box-shadow: 0 0 35px rgba(255, 0, 0, .5), 
                inset 0 0 10px rgba(255, 0, 0, 1);
    width: 25px;
    height: 25px;
    margin: 0 auto;
    position: absolute;
    right: 25px;
    bottom: 10px;
    opacity: .3;
    z-index: -1;
    animation: spin 3s linear infinite, pulse 3s linear infinite;
}

#spinner {
    color: rgba(101, 289, 227, .9);
    border: 1px solid rgba(101, 289, 227, .9);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-radius: 150px;
    box-shadow: 0 0 35px rgba(101, 289, 227, .5), 
    inset 0 0 10px rgba(101, 289, 227, 1);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: absolute;
    right: 50px;
    bottom: 20px;
    opacity: .3;
    animation: spin 3s linear infinite;
    z-index: -1;
}

#spin-ui {
    opacity: 0;
    transition: opacity 2s;
}

#version {
    opacity: .6;
    color: rgba(101, 289, 227, .3);
    text-shadow: 0px 0px 4px rgba(101, 289, 227, .5);
    bottom: -15px;
    left: 20px;
    font-size: 10px;
    position: absolute;
}

body.loading #spinner {
    animation: spin 3s linear infinite, pulse 3s linear infinite;
}

body.loading #spin-ui {
    opacity: 1;
    transition: opacity 2s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    /*
    50% {
        transform: rotate(360deg);
    }
    10% { transform: rotate(360deg); };
    30% { transform: rotate(0deg); }
    35% { transform: rotate(180deg); }
    40% { transform: rotate(0 deg); }
    55% {
        transform: rotate(0deg);
    } */
    100% {
        transform: rotate(360deg); 
    }
}

@keyframes pulse {
    0% {
        opacity: .1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .1;
    };
}

ul.actions {
    list-style: none;
    margin: 0;
    width: 300px;
}

ul.actions li {
    cursor: pointer;
}

ul.actions li:hover {
    color: #fff;
}